@{
    ViewBag.Title = "Kajak kanu klub Žusterna";
}

<div class="span12">
    
    @if (KKK_Zusterna.Models.GlobalErrors.seznamNapak != null && KKK_Zusterna.Models.GlobalErrors.seznamNapak.Count > 0)
    {
        foreach (string napaka in KKK_Zusterna.Models.GlobalErrors.seznamNapak)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Napaka!</strong><br /> @napaka
                    </div> 
                </div>
            </div> 
        }
    }
    
    @if (KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril != null && KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril.Count > 0)
    {
        foreach (string opozorilo in KKK_Zusterna.Models.GlobalWarnings.seznamOpozoril)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opozorilo!</strong><br /> @opozorilo
                    </div> 
                </div>
            </div> 
        }
    }

    @if (KKK_Zusterna.Models.GlobalNotifications.seznamObvestil != null && KKK_Zusterna.Models.GlobalNotifications.seznamObvestil.Count > 0)
    {
        foreach (string obvestilo in KKK_Zusterna.Models.GlobalNotifications.seznamObvestil)
        {
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Opravljeno! </strong>@obvestilo 
                    </div>
                </div>
            </div>
        }
    }  
      
    @if (ViewBag.Data != null && ViewBag.Data.Count > 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <h3>Tekmovanja</h3>
            </div>
        </div>
        
        for (int i = 0; i < ViewBag.Data.Count; i++)
        {
            <div class="row-fluid">
                <div class="span12">
                    <a href="@Url.Action("PrikaziTekmovanja", "Tekmovanja", new { ID_letoTekmovanja = ViewBag.Data[i].ID_letoTekmovanja })"><h4><i class="icon-chevron-right" style="margin-top: 4px"></i> Tekmovanja v letu @ViewBag.Data[i].Leto</h4></a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Opozorilo!</strong> Ni dodanih tekmovanj.
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span12">
                <h3>Tekmovanja</h3>
            </div>
        </div>
    }
      
</div>
